/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.App {
  text-align: center;
}

.MuiContainer-root {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.MuiButton-root {
  margin-top: 15px;
}
.full-height-container {
  min-height: calc(100vh - 64px); /* Subtract AppBar height */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}